@{
  // ASP.NET Razor: server-side web rendering
  double x = 2.0, v = 3.0, m = 5.0, dm_dt = 0.1;
  double p = m * v;
  double NKTg1 = x * p;
  double NKTg2 = dm_dt * p;
}
<p>p=@p NKTg1=@NKTg1 NKTg2=@NKTg2</p>
